/*
 * Based on prism-material-dark by Oleg Dutchenko [@dutchenkoOleg]
 *
 * Updated by Jesse Florig [@jesseflorig]
 *
 */
code[class*="language-"],
pre[class*="language-"] {
	text-align: left;
  text-shadow: none;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	color: #ddd;
	background: rgba(0,0,0,0.8);
	border-radius: 0.2em;
	font-family: "Fira Code", monospace;
	font-size: 1em;
	line-height: 1.5em;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.dark code[class*="language-"],
.dark pre[class*="language-"] {
  background: rgba(0,0,0,0.4)
}

code[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"] ::-moz-selection {
	background: #363636;
}

code[class*="language-"]::selection,
pre[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"] ::selection {
	background: #363636;
}

pre > code[class*="language-"] {
  background: none;
}

:not(pre) > code[class*="language-"] {
	white-space: normal;
  background: rgba(0,0,0,0.8);
	border-radius: 0.2em;
	padding: 0.1em 0.3em;
}

.dark :not(pre) > code[class*="language-"] {
  background: rgba(0,0,0,0.4)
}

pre[class*="language-"] {
	overflow: auto;
	position: relative;
	margin: 0.5em 0;
	padding: 1.25em 1em;
}

.language-css > code,
.language-sass > code,
.language-scss > code,
.token.number,
.token.unit {
	color: #fd9170;
}

[class*="language-"] .namespace {
	opacity: 0.7;
}

.token.atrule,
.token.boolean,
.token.constant,
.token.function,
.token.keyword,
.token.symbol {
	color: #c792ea;
}

.token.id,
.token.important {
	color: #c792ea;
	font-weight: bold;
}

.token.attr-name,
.token.builtin,
.token.class {
	color: #ffcb6b;
}

.token.attr-value,
.token.attribute,
.token.pseudo-class,
.token.pseudo-element,
.token.string {
	color: #a5e844;
}

.token.cdata,
.token.char,
.token.inserted,
.token.property {
	color: #80cbc4;
}

.token.class-name,
.token.hexcode,
.token.regex {
	color: #f2ff00;
}

.token.comment {
	color: #999;
}

.token.deleted,
.token.entity {
	color: #ff6666;
}

.token.doctype {
	color: #616161;
}

.token.operator {
	color: #89ddff;
  background: none;
}

.token.prolog {
	color: #616161;
}

.token.punctuation {
	color: #89ddff;
}

.token.selector,
.token.tag,
.token.url,
.token.variable {
	color: #ff6666;
}

